<app-header [text]="'Transactions'"></app-header>
<div class="container">
    <div class="topContainer">
        <button nz-button nzType="primary" nz-dropdown nzTrigger="click" [nzClickHide]="false" [(nzVisible)]="filter.active" [nzDropdownMenu]="menu"><i nz-icon nzType="filter"></i>Filter</button>
        <button (click)="showAddModal()" nz-button nzType="primary"><i nz-icon nzType="plus"></i>Transactions</button>
    </div>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item>
                <nz-range-picker [nzAllowClear]="false" nzFormat="dd-MM-yyyy" [(ngModel)]="rangeDate"></nz-range-picker>
            </li>
            <li nz-menu-item>
                <nz-select style="width: 100%;" nzAllowClear nzPlaceHolder="Transaction Type" [(ngModel)]="filter.type">
                    <nz-option nzLabel="Expense" nzValue="expense"></nz-option>
                    <nz-option nzLabel="Income" nzValue="income"></nz-option>
                </nz-select>
            </li>
            <li nz-menu-item>
                <nz-select style="width: 100%;" nzAllowClear nzPlaceHolder="Category" [(ngModel)]="filter.categoryId">
                    <nz-option *ngFor="let cat of allcategories" [nzLabel]="cat.name" [nzValue]="cat.id"></nz-option>
                </nz-select>
            </li>
            <li nz-menu-item>
                <button (click)="applyFilter()" nz-button nzType="primary">Apply</button>
            </li>
        </ul>
    </nz-dropdown-menu>
    <nz-row nzJustify="space-between">
        <nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8">
            <nz-statistic [nzValue]="totalExpense" [nzTitle]="'Expenses (PKR)'"></nz-statistic>
        </nz-col>
    </nz-row>
    <div style="width: 100%; height: 79%; overflow-y: scroll;">
        <nz-table style="overflow-y: scroll;" #basicTable [nzShowPagination]="false" [nzPageSize]="300" [nzData]="transactions" [nzScroll]="{ y: '240px' }">
            <thead>
                <tr>
                    <th *ngFor="let column of listOfColumns" [nzSortOrder]="column.sortOrder" [nzSortFn]="column.sortFn" [nzSortDirections]="column.sortDirections">
                        {{ column.name }}
                    </th>
                    <th>Category</th>
                    <th>Comment</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.amount.toLocaleString() }}</td>
                    <td>{{dateParser(data.timestamp)}}</td>
                    <td>{{ categoryTable[data.categoryId].name}}</td>
                    <td>{{ data.comment }}</td>
                    <td>
                        <a (click)="showAddModal(data)">Edit</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a (click)="showDeleteModal(data)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
<nz-modal [(nzVisible)]="addModalVisible" nzTitle="Add Transaction" (nzOnCancel)="hideAddModal()" (nzOnOk)="addTransaction()" [nzOkDisabled]="!transaction.categoryId || !transaction.amount" [nzOkLoading]="addingTransaction">
    <form nz-form>
        <nz-form-item>
            <nz-form-label nzRequired nzFor="type" [nzSm]="8" [nzXs]="24">Type</nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="24">
                <nz-radio-group (ngModelChange)="onTypeChanged($event)" name="type" [(ngModel)]="transaction.type">
                    <label nzValue="expense" nz-radio>Expense</label>
                    <label nzValue="income" nz-radio>Income</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired [nzSm]="8" [nzXs]="24">Category</nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="24">
                <nz-select style="width: 100%;" name="category" nzShowSearch nzAllowClear nzPlaceHolder="Select a category" [(ngModel)]="transaction.categoryId">
                    <nz-option *ngFor="let category of categories" [nzLabel]="category.name" [nzValue]="category.id">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired [nzSm]="8" [nzXs]="24">Amount</nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="24">
                <input style="width: 100%;" nz-input placeholder="enter amount" type="number" name="amount" [(ngModel)]="transaction.amount" nzSize="large" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24">Date</nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="24">
                <nz-date-picker nzFormat="dd-MM-yyyy" name="timestamp" [(ngModel)]="date" style="width: 100%;">
                </nz-date-picker>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24">Comments</nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="24">
                <textarea name="comment" [(ngModel)]="transaction.comment" style="width: 100%;" nz-input placeholder="Comments"></textarea>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-modal>
<nz-modal [(nzVisible)]="deleteModalVisible" nzTitle="Delete Transaction" (nzOnCancel)="hideAddModal()" (nzOnOk)="deleteTransaction()" [nzOkLoading]="addingTransaction">
    Are you sure you want to delete this transaction? This action can not be reverted!
</nz-modal>