<app-header [text]="'Transactions'"></app-header>
<div class="container">
    <div class="topContainer">
        <button nz-button nzType="primary"><i nz-icon nzType="filter"></i>Filter</button>
        <button (click)="showAddModal()" nz-button nzType="primary"><i nz-icon nzType="plus"></i>Transactions</button>
    </div>
</div>
<nz-modal [(nzVisible)]="addModalVisible" nzTitle="Add Transaction" (nzOnCancel)="hideAddModal()" (nzOnOk)="addTransaction()" [nzOkDisabled]="!transaction.categoryId || !transaction.amount" [nzOkLoading]="addingTransaction">
    <form nz-form>
        <nz-form-item>
            <nz-form-label nzRequired nzFor="type" [nzSm]="8" [nzXs]="24">Type</nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="24">
                <nz-radio-group name="type" [(ngModel)]="transaction.type">
                    <label nzValue="expense" nz-radio>Expense</label>
                    <label nzValue="income" nz-radio>Income</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired [nzSm]="8" [nzXs]="24">Category</nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="24">
                <nz-select style="width: 100%;" name="category" nzShowSearch nzAllowClear nzPlaceHolder="Select a category" [(ngModel)]="transaction.categoryId">
                    <nz-option *ngFor="let category of categories" [nzLabel]="category.name" [nzValue]="category.id"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired [nzSm]="8" [nzXs]="24">Amount</nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="24">
                <input style="width: 100%;" nz-input placeholder="enter amount" type="number" name="amount" [(ngModel)]="transaction.amount" nzSize="large" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24">Date</nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="24">
                <nz-date-picker style="width: 100%;"></nz-date-picker>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24">Comments</nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="24">
                <textarea style="width: 100%;" nz-input placeholder="Comments"></textarea>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-modal>